// Colors
$bluedull: #343c45;
$blue: #00f;

$white: #fff;
$greylightest: #f7f7f9;
$grey: #99a;


// Typography
$sans: 'HK Grotesk', Helvetica, Arial, sans-serif;

// Import partials.
@import
  "typography",
  "base"
;
